table.ncode_imageresizer_warning{border:#22229C 1px dashed;border-top:#22229C 1px dashed;border-bottom:0 dashed;cursor:pointer;COLOR:#000000;background:#FFD324;}
table.ncode_imageresizer_warning td{font-size:12px;vertical-align:middle;text-decoration:none;text-align:left;}
table.ncode_imageresizer_warning td.td1{padding:4px;}